.product__container{
   margin:auto;
   display: flex;
   width: 50%;
   border: 3px solid black;
   padding: 10px;
   color: black;
}

.product__info{
   display: flex;
   justify-content:center;
   gap: 4rem;
}

.product__description{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: center;
   padding: 5rem;
   gap: 8rem;
}