.catalogs__product_container{
   display: inline-block;
   border-top: 1px solid black;
   margin: auto;
   width: 50%;
   padding: 10px;
   text-align: center;
   gap: 5rem;
   color:black;
}

.catalogs__product_container_image{
   width: 60rem;
   height: 15rem;
   margin: 4rem;
}

.catalogs__product_info{
   display: flex;
   justify-content:center;
   gap: 4rem;
}

.catalogs__product_description{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: center;
   padding: 5rem;
   gap: 2rem;
}