.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
  }
  
  .navbar__container_logo {
    width: 480px;
  }
  
  .navbar__container_icons {
    display: flex;
  }
  
  .navbar__container_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
  }
  .top-bar {
    background: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: "Poppins";
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    height: 35px;
  }
  
  .coupon {
    margin-left: 20px;
  }
  